@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    margin: 0;
}


/* First section*/


.first {
    background-color: #1F2937;
    padding: 20px 300px 200px 300px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 130px;
}
.logo-header {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.links-header, .subsection_text, .img {
    font-size: 18px;
    color: #E5E7EB;
}

.links-header{
    display:flex;
    gap: 15px;
}

.subsection_title {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
    max-width: 350px;
    margin-bottom: 10px;
}

.header_subsection {
    display: flex;
    justify-content: space-between;
}

.subsection_text {
    display:flex;
    flex-wrap: wrap;
    max-width: 820px;
    margin-right: 50px;
    margin-bottom: 15px;
}
.img {
    background-color: gray;
    width: 850px;
    height: 235px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 8px;
    width: 120px;
    height: 30px;
    font-size: large;
    font-size: 18px;
    width: 134px;
    height: 40px;
}

.first button {
    border-color: #1F2937;
}


/* Second section*/


.second {
    display:flex;
    flex-direction: column;
    margin: 50px 160px 100px 300px;
}

.header-second {
    text-align: center;
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
    margin-bottom: 50px;
}

.imgsatxts {
    display: flex;
    justify-content: space-evenly;
}

.imgph {
    background-color: white;
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color:#3882F6;
    border-width: 4px;
    border-radius: 12px;
    margin-bottom: 10px;
}
.imgatxt{
    display: flex;
    flex-direction: column;
    font-size: 17px;
}

.imgtxt {
    margin-right: 60px;
    text-align: center;
    color: rgb(63, 63, 63);
}

/* Third section*/

.third  {
    background-color: #E5E7EB;
    padding: 100px 160px 100px 300px;
}

.quote {
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    color: #1F2937;
    text-align: left;
    margin-right: 60px;
}

.sign {
    text-align: end;
    font-weight: bold;
    font-size: 25px;
    margin-right: 70px;
}

/* Third section*/