body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    margin: 0;
}

.first {
    background-color: #1F2937;
    padding: 20px 100px 200px 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.logo-header {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.links-header, .subsection_text, .img {
    font-size: 18px;
    color: #E5E7EB;
}

.subsection_title {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
    max-width: 350px;
    margin-bottom: 10px;
}

.header_subsection {
    display: flex;
    justify-content: space-between;
}

.subsection_text {
    text-align: left;
}
.img {
    background-color: gray;
    width: 500px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
}